html { 
    background-color:#0E0E0E;
}

body {   
    color: white;
    background-color: #010001;
    max-width: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

img {
    margin: 10px;
}


#detail h2 {
    font-size: 42px;
    font-weight: 300px;
}

#detail p {
    color: grey;
    font-size: 21px;
}

#copyright {
    color: gray;
    text-align:right;
}